.quiz {
  &__answer {
    margin-bottom: 10px;
    padding: 10px 15px;
    border:1px solid #fff;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
    &:hover{
      color:#5041b2;
      background-color: #fff;
    }
    &.success{
      background-color: #73db2c;
      border-color:#73db2c;
      color: #000;
    }
    &.error{
      background-color: #f55f5f;
      border-color:#f55f5f;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}